<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Makerhack - Contacto</title>
        <link rel="stylesheet" href="/main.css">
        <link rel="icon" type="image/png" href="/img/ua-icon.png" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
            <form method="POST">

                    <h4>Nombres Completos</h4>
                    <input class="input-contact" type="text" name="name" placeholder="Ingrese su nombre...">
                   
                    <h4>Email</h4>
                    <input class="input-contact" type="email" name="email" placeholder="Ingrese su email...">
                    <div>
                        <div>
                            <h4>Carrera</h4>
                            <select class="career " name="career">
                                <option value="UA">Administración</option>
                                <option value="UTP">Ingenieria de Sistemas</option>
                                <option value="UPC">Derecho</option>
                            </select>
                        </div>
                        <div>
                            <h4>Ciclo</h4>
                            <input class="cycle" type="text" name="cicle" placeholder="Ciclo">
                        </div>
                    </div>
                    <h4>Cuentanos más aquí</h4>
                    <textarea placeholder="0/200 palabras" name="description"></textarea>
                    <div class="submit-container">
                        <input class="input-submit" type="submit" value="contactar">
                    </div>

                </form>
    </body>
</html>