<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resumen</title>
</head>

<body>

    <table border="1">

        <thead> 
            <tr>
                <th colspan="2"><%= tittle %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Carrera:
                </td>
                <td>
                    <%= career %>
                </td>
            </tr>
            <tr>
                <td>
                    Lugar:
                </td>
                <td>
                    <%= place %>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha de Inscripciones:
                </td>
                <td>

                    <%= ` ${day2} de ${month2} del ${year2} ` %>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha de Cierre :
                </td>
                <td>
                    <%= ` ${day} de ${month} del ${year} ` %>
                </td>
            </tr>
            <tr>
                <td>
                    Hora de evento :
                </td>
                <td>
                    <%= hours %>
                </td>
            </tr>
            <tr>
                <td>
                    Descripccion :
                </td>
                <td>
                    <%= description %>
                </td>
            </tr>
            <tr>

                <td colspan="2"> <img src="<%= image %>" width="400" height="400"> </td>

            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Inscribirse"> </td>
            </tr>

        </tbody>

    </table>
</body>

</html>