<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Área de Investigación - Universidad Autonoma del Perú</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/register.css">
    <link rel="icon" type="image/png" href="/img/ua-icon.png" />
</head>

<body>
    <div>
        <div class="fixed-bar-dinamic" id="menu">
            <a href="/">
                <div class="logo"></div>
            </a>
            <div class="menu-buttons">
                <div href="#" class="button">Nosotros</div>
                <div href="#" class="button">Noticias</div>
                <div href="#" class="button">Convocatorias</div>
                <div href="#" class="button">Repositorios</div>
            </div>
            <div class="options-menu"><i class="fas fa-bars"></i></div>
        </div>
        <div class="main-container">
            <article>
                <div class="container">
                    
                    <div class="img-convocatory" style="background-image: url('<%= image %>')">
                     
                            <div class="post-it">
                                <br>
                                <h3>Fecha del evento</h3>
                                <h4> <%= `${eventDay} de ${eventMonth} del ${eventYear} ` %></h4>
                                <h3>Hora</h3>
                                <h4><%= hours %></h4>
                                
                            </div>
                        <div class="convocatory-title">
                            <h1><%= tittle %></h1>
                        </div>
                    </div>
                    <div class="container-info" id="container-info">
                        <div class="box-info">
                            <div class="event-info">
                                <h1>Informacion del Evento</h1>
                                <br>
                                <h3>
                                        <%= description %>
                                </h3>
                            </div>
                            <div class="date-info">
                                <div class="date">
                                    <h1>Inicio de Inscripción</h1>
                                    <br>
                                    <h3><%= ` ${day2} de ${month2} del ${year2} ` %></h3>
                                </div>
                                <div class="date">
                                    <h1>Cierre de Inscripción</h1>
                                    <br>
                                    <h3><%= ` ${day} de ${month} del ${year} ` %></h3>
                                </div>
                                <div class="date">
                                    <h1>Ubicación</h1>
                                    <br>
                                    <h3> <%= place %>   </h3>
                                </div>
                                <div class="date">
                                    <h1>Carrera</h1>
                                    <br>
                                    <h3><%= career %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div>
                    <div class="button-div" id="button-register"><span>Registrarse</span></button></div> 
                </div>  
            </article>
        </div>

        
        <footer>
            <div class="center-footer">
                <div class="footer-section">
                    <div class="container-info"><img src="/img/logo-autonoma.png" alt=""></div>
                    <div class="container-info">
                        <h3>Ubicación</h3>
                        <p>Panamericana Sur Km. 16.3 Villa El Salvador</p>
                    </div>
                    <div class="container-info lateral">
                        <div>                            
                            <h3>Contacto</h3>
                            <p>#123-321-451</p>
                            <p>#312-214-231</p>
                        </div>
                        <div style="margin-top: 40px;">
                            <h3>Suscribete</h3>
                            <div class="social-media">
                                <a href="#"><img class="red-logo" src="/img/wsp-logo.png"></a>   
                                <a href="#"><img class="red-logo" src="/img/facebook-logo.png"></a> 
                                <a href="#"><img class="red-logo" src="/img/inst-logo.png"></a> 
                                <a href="#"><img class="red-logo" src="/img/youtube-logo.png"></a> 
                            </div>
                        </div>
                    </div>
                    <div class="container-info">
                        <h3>Sobre Innovua</h3>
                        <p>Somos una comunidad universitaria en crecimiento constante.
                        Creamos impacto positivo a traves de la creatividad e innovacion.
                        Rompemos esquemas, creamos oportunidades.</p> 
                    </div>
                </div>
            </div>
            <hr>
            <div class="footer-copyright">
                <h3>Universidad Autonoma - Derechos reservados</h3>
                <h3><a href="#">Politicas de privacidad</a></h3>
            </div>
        </footer>
    </div>        
    
        <div class="poppup-convocatory" id="poppup-convocatory">
            <div class="form" id="form">
                <div class="blur">
                    <form action="/convocatoria/participar" method="post">
                        <div class="form-center">
                            <div>
                                <h3>Regístrate en:</h3>
                                <h4>"<%= tittle %>"</h4>
                            </div>
                            <div class="inputs" >
                                <h5>Datos Obligatorios</h5>
                                <input type="text" name="name" placeholder="Nombres Completos" required>
                                <input type="email" name="email" placeholder="Email" required>
                                <input type="text" name="phone" placeholder="Celular" required>
                                <select name="university" id="">
                                    <option value="" hidden><span>Universidad</span></option>
                                    <option value="UA">Universidad Autónoma del Perú</option>
                                    <option value="UTP">Universidad Tecnológica del Perú</option>
                                    <option value="UPC">Universidad Peruana de Ciencias Aplicadas</option>
                                </select>
                                <select name="career" id="">
                                    <option value="" hidden>Carrera Profesional</option>
                                    <option value="Sistemas">Ingeniería de Sistemas</option>
                                    <option value="Derecho">Derecho</option>
                                </select>
                            </div>
                            <div class="button-poppup">
                                <input type="submit" class="button-div" value="Registrar">
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>

    </div>    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('#poppup-convocatory').hide();

        $("div .button").click(function () {
            var pos = $(this).index();

            switch (pos) {
                case 0: $("html").animate({ scrollTop: $(".aboutus-section").offset().top }, 1000);
                    break;
                case 1: $("html").animate({ scrollTop: $(".news-section").offset().top }, 1000);
                    break;
                case 2: $("html").animate({ scrollTop: $(".convocatory-section").offset().top }, 1000);
                    break;
                case 3: $("html").animate({ scrollTop: $(".repository-section").offset().top }, 1000);
                    break;
            }
        });

        $('#button-register').click(function() {
            $('#poppup-convocatory').show();
        })

        
        $('#poppup-convocatory').click(function() {
            $('#poppup-convocatory').hide();
        })
        
        $('#form').click(function(event) {
            event.stopPropagation();
        })
    </script>
</body>

</html>