<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/admin.css">
    <link rel="icon" type="image/png" href="/img/ua-icon.png" />
    <title>Convocatorias</title>
</head>

<body>
    <h1>Detalle Convocatoria </h1>
    <div>
    <form method="POST">
        
    <table border="1">
        <% data.forEach(function(conv) { %>

        <thead>
            <tr>
                <th colspan="2"><%= conv.INNOUA_TITULO %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Carrera:
                </td>
                <td>
                    <%= conv.INNOUA_AREA %>
                </td>
            </tr>
            <tr>
                <td>
                    Lugar:
                </td>
                <td>
                    <%= conv.INNOUA_LUG %>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha de Inscripciones:
                </td>
                <td>
                    <%= `${conv.INNOUA_INI_CONV.getDate()} / ${conv.INNOUA_INI_CONV.getMonth() + 1} / ${conv.INNOUA_INI_CONV.getFullYear()} ` %>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha de Cierre :
                </td>
                <td>
                    <%= ` ${conv.INNOUA_CIER_CONV.getDate()} / ${conv.INNOUA_CIER_CONV.getMonth() + 1} / ${conv.INNOUA_CIER_CONV.getFullYear()} ` %>
                </td>
            </tr>
            <tr>
                <td>
                    Descripccion :
                </td>
                <td>
                    <%= conv.INNOUA_DESCRIPCION %>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" ><input type="submit" value="Inscribirse"> </td>
            </tr>

        </tbody>

        <% }) %>
    </table>
    </form>
    </div>
</body>

</html>