<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Resumen de tu contacto </h1>
        <div>
            <h4>nombre</h4> 
            <p> <%= name %> </p>
        </div>

        <div>
           <h4>email</h4>
           <p> <%= email %> </p>
        </div>

</body>
</html>