<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= msg %>></title>
</head>
<body>
    <h1>HUBO ALGUN ERROR</h1>
   <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEk8blmgea6b-a5wX-KH2sR2S9WMsr0ObLIrjDfVSWzy4fwMS_" alt=""> -->
</body>
</html>