<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Área de Investigación - Universidad Autonoma del Perú</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" type="image/png" href="/img/ua-icon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="fixed-bar" id="menu">
        <a href="/">
            <div class="logo"></div>
        </a>
        <div class="menu-buttons">
            <div href="#" class="button">Nosotros</div>
            <div href="#" class="button">Noticias</div>
            <div href="#" class="button">Convocatorias</div>
            <div href="#" class="button">Repositorios</div>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
                integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
                crossorigin="anonymous">

        </div>
        <div class="options-menu"><i class="fas fa-bars"></i></div>
    </div>
    <div class="main-container">
        <div class="content-video">
            <video autoplay muted loop class="landing-section">
                <source src="/video/business-video.mp4" type="video/mp4">
            </video>
            <div class="content-landing">
                <h1>Area de Investigación</h1>
                <br>
                <h3>La innovación se entiende como la introducción exitosa de un nuevo o
                    significativamente mejorado producto, proceso en el mercado mundial,
                    resultado de una investigación.</h3>
            </div>
        </div>


        <div class="aboutus-section" id="aboutus">
            <div class="container">
                <div class="left-container">
                    <h2>Sobre Nosotros</h2>
                    <h3>Somos una comunidad universitaria en crecimiento constante.
                        Creamos impacto positivo a traves de la creatividad e innovacion.
                        Rompemos esquemas, creamos oportunidades. </h3>
                </div>
                <div class="right-container"></div>
            </div>
        </div>
        <div class="news-section-title">

            <hr>
            <h1>Noticias</h1>
            <hr>

        </div>


        <div class="news-section">
            <div class="option-container">

                <%
                    data2.forEach(function(news) {
                %>
                <div class="option"
                    style="background-image: url('<%= news.INNOUA_IMG %>');background-repeat: no-repeat;background-size: cover;background-position: center;">
                    <div class="option-info">
                        <br>
                        <h2><%= news.INNOUA_TITUL %></h2>
                        <div class="content">
                            <h3><%= news.INNOUA_DESCRIP %></h3>
                        </div>



                    </div>
                    <span><a href='<%= news.INNOUA_ARCH %>' target="_blank">ver mas</a></span>
                </div>
                <%
                  })
                %>
            </div>
        </div>



        <div class="convocatory-section-title">

            <hr>
            <h1>Convocatorias</h1>
            <hr>

        </div>

        <div class="convocatory-section">

            <div class="option-container">
                <%
                    data1.forEach(function(announ) {
                %>
                <div class="option"
                    style="background-image: url('<%= announ.INNOUA_IMAG %>');background-repeat: no-repeat;background-size: cover;background-position: center;">
                    <div class="option-info">
                        <br>
                        <div class="title">
                            <h2><%= announ.INNOUA_TITULO %></h2>
                            <h3>Carrera: <%= announ.INNOUA_AREA %></h3>
                        </div>
                        <div class="content">
                            <h3>Dia </h3>
                            <h3>23 de Julio</h3>
                            <br>
                            <h3><%= announ.INNOUA_DESCRIPCION %></h3>
                            <br>
                            <h3>Cierre de Inscripciones</h3>
                            <h3>20 de Julio</h3>
                            <br>
                        </div>


                    </div>
                    <span><a href="/convocatoria/<%= announ.INNOUA_ID %>">ver mas</a></span>
                </div>
                <%
                    })
                %>
            </div>

        </div>
        <div class="repository-section" id="repository">
            <div class="container">
                <div class="left-container">

                </div>
                <div class="right-container">
                    <h2>Repositorio</h2>
                    <h3>Las publicaciones alojadas en esta sección dan cuenta de la actividad académica,
                        social y de investigación de nuestra comunidad universitaria conformada por estudiantes,
                        egresados, docentes y autoridades. Desarrollamos este espacio con el propósito de fomentar
                        la investigación científica y hacer conocimiento público el ejercicio práctico de cada una
                        de nuestras 5 carreras profesionales, programas extracurriculares y de especialización avanzada.
                    </h3>
                    <div class="submit-container">
                        <form action="http://repositorio.autonoma.edu.pe/">
                            <input class="input-submit" type="submit" value="Ir" onclick="">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="staff-section">
            <div class="investiga-bg">
                <h1>Investigadores</h1>
            </div>


            <div class="wrap">
                <i id="arrow-left" class="fas fa-chevron-left"></i>
                <i id="arrow-right" class="fas fa-chevron-right"></i>
                <div id="prev"></div>
                <div id="next"></div>
                <div class="window">
                    <div id="carousel">
                        <span class="slide" id="b1">
                            <div class="staff-info-container" id="staff-info-container1">
                                <div class="staff-info-title">
                                    <img class="img-staff">
                                    <div>
                                        <h4>Bayana Ore,Luz Sussy 1</h4>
                                        <h5>Docente Investigador</h5>
                                    </div>
                                </div>
                                <div class="staff-info-text">
                                    <h4>Doctora por la Universidad Politécnica de Madrid, España (UPM),
                                        DEA (Diploma de Estudios Avanzados) y Magister en Ingeniería
                                        de Software por la UPM, Magister en Gerencia en Estadística e
                                        Informática por la Universidad Nacional Mayor de San Marcos
                                        (UNMSM), Ingeniera de Sistemas por la Universidad Nacional de
                                        Ingeniería (UNI)</h5>
                                </div>
                            </div>
                        </span>
                        <span class="slide" id="b2">
                            <div class="staff-info-container" id="staff-info-container2">
                                <div class="staff-info-title">
                                    <img class="img-staff">
                                    <div>
                                        <h4>Bayana Ore,Luz Sussy</h4>
                                        <h5>Docente Investigador</h5>
                                    </div>
                                </div>
                                <div class="staff-info-text">
                                    <h4>Doctora por la Universidad Politécnica de Madrid, España (UPM),
                                        DEA (Diploma de Estudios Avanzados) y Magister en Ingeniería
                                        de Software por la UPM, Magister en Gerencia en Estadística e
                                        Informática por la Universidad Nacional Mayor de San Marcos
                                        (UNMSM), Ingeniera de Sistemas por la Universidad Nacional de
                                        Ingeniería (UNI)</h5>
                                </div>
                            </div>
                        </span>
                        <span class="slide" id="b3">
                            <div class="staff-info-container" id="staff-info-container3">
                                <div class="staff-info-title">
                                    <img class="img-staff">
                                    <div>
                                        <h4>Bayana Ore,Luz Sussy</h4>
                                        <h5>Docente Investigador</h5>
                                    </div>
                                </div>
                                <div class="staff-info-text">
                                    <h4>Doctora por la Universidad Politécnica de Madrid, España (UPM),
                                        DEA (Diploma de Estudios Avanzados) y Magister en Ingeniería
                                        de Software por la UPM, Magister en Gerencia en Estadística e
                                        Informática por la Universidad Nacional Mayor de San Marcos
                                        (UNMSM), Ingeniera de Sistemas por la Universidad Nacional de
                                        Ingeniería (UNI)</h5>
                                </div>
                            </div>
                        </span>
                        <span class="slide" id="b4">
                            <div class="staff-info-container" id="staff-info-container4">
                                <div class="staff-info-title">
                                    <img class="img-staff">
                                    <div>
                                        <h4>Bayana Ore,Luz Sussy</h4>
                                        <h5>Docente Investigador</h5>
                                    </div>
                                </div>
                                <div class="staff-info-text">
                                    <h4>Doctora por la Universidad Politécnica de Madrid, España (UPM),
                                        DEA (Diploma de Estudios Avanzados) y Magister en Ingeniería
                                        de Software por la UPM, Magister en Gerencia en Estadística e
                                        Informática por la Universidad Nacional Mayor de San Marcos
                                        (UNMSM), Ingeniera de Sistemas por la Universidad Nacional de
                                        Ingeniería (UNI)</h5>
                                </div>
                            </div>
                        </span>
                        <span class="slide" id="b5">
                            <div class="staff-info-container" id="staff-info-container5">
                                <div class="staff-info-title">
                                    <img class="img-staff">
                                    <div>
                                        <h4>Bayana Ore,Luz Sussy</h4>
                                        <h5>Docente Investigador</h5>
                                    </div>
                                </div>
                                <div class="staff-info-text">
                                    <h4>Doctora por la Universidad Politécnica de Madrid, España (UPM),
                                        DEA (Diploma de Estudios Avanzados) y Magister en Ingeniería
                                        de Software por la UPM, Magister en Gerencia en Estadística e
                                        Informática por la Universidad Nacional Mayor de San Marcos
                                        (UNMSM), Ingeniera de Sistemas por la Universidad Nacional de
                                        Ingeniería (UNI)</h5>
                                </div>
                            </div>
                        </span>
                        <span class="slide" id="b5">
                            <div class="staff-info-container" id="staff-info-container6">
                                <div class="staff-info-title">
                                    <img class="img-staff">
                                    <div>
                                        <h4>Bayana Ore,Luz Sussy</h4>
                                        <h5>Docente Investigador</h5>
                                    </div>
                                </div>
                                <div class="staff-info-text">
                                    <h4>Doctora por la Universidad Politécnica de Madrid, España (UPM),
                                        DEA (Diploma de Estudios Avanzados) y Magister en Ingeniería
                                        de Software por la UPM, Magister en Gerencia en Estadística e
                                        Informática por la Universidad Nacional Mayor de San Marcos
                                        (UNMSM), Ingeniera de Sistemas por la Universidad Nacional de
                                        Ingeniería (UNI)</h5>
                                </div>
                            </div>
                        </span>
                        <span class="slide" id="b5">
                            <div class="staff-info-container" id="staff-info-container7">
                                <div class="staff-info-title">
                                    <img class="img-staff">
                                    <div>
                                        <h4>Bayana Ore,Luz Sussy</h4>
                                        <h5>Docente Investigador</h5>
                                    </div>
                                </div>
                                <div class="staff-info-text">
                                    <h4>Doctora por la Universidad Politécnica de Madrid, España (UPM),
                                        DEA (Diploma de Estudios Avanzados) y Magister en Ingeniería
                                        de Software por la UPM, Magister en Gerencia en Estadística e
                                        Informática por la Universidad Nacional Mayor de San Marcos
                                        (UNMSM), Ingeniera de Sistemas por la Universidad Nacional de
                                        Ingeniería (UNI)</h5>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>

        </div>



        <div class="contact-section">
            <div class="contact-left-container">
                <h1>¡Hablemos de tu idea ahora!</h1>
                <div class="text-left">

                    <h3>No te gustan los formularios?</h3>
                    <h3>Escribenos un Email</h3>
                    <h4>direcciondeinvestigacion@autonoma.edu.pe</h4>
                </div>

            </div>
            <div class="contact-right-container">
                <div class="text-right">
                    <form method="POST" onsubmit="return alertaregistro(this)">
                        <h4>Nombres Completos</h4>
                        <input class="input-contact" type="text" name="name" placeholder="Ingrese su nombre..."
                            maxlength="50" required>

                        <h4>Email</h4>
                        <input class="input-contact" type="email" name="email" placeholder="Ingrese su email..."
                            maxlength="40" required>
                        <div>
                            <div>
                                <h4>Carrera</h4>
                                <select class="career " name="career">
                                    <option value="Administración">Administración</option>
                                    <option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
                                    <option value="Derecho">Derecho</option>
                                </select>
                            </div>
                            <div>
                                <h4>Ciclo</h4>
                                <input class="cycle" type="text" name="cicle" placeholder="Ciclo" maxlength="2"
                                    required>
                            </div>
                        </div>
                        <h4>Cuentanos más aquí</h4>
                        <textarea placeholder="0/300 palabras" name="description" maxlength="300" required></textarea>
                        <div class="submit-container">
                            <input class="input-submit" type="submit" value="contactar">
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="center-footer">
                <div class="footer-section">
                    <div class="container-info"><img src="/img/logo-autonoma.png" alt=""></div>
                    <div class="container-info">
                        <h3>Ubicación</h3>
                        <p>Panamericana Sur Km. 16.3 Villa El Salvador</p>
                    </div>
                    <div class="container-info lateral">
                        <div>
                            <h3>Contacto</h3>
                            <p>#123-321-451</p>
                            <p>#312-214-231</p>
                        </div>
                        <div style="margin-top: 40px;">
                            <h3>Suscribete</h3>
                            <div class="social-media">
                                <a href="#"><img class="red-logo" src="/img/wsp-logo.png"></a>
                                <a href="#"><img class="red-logo" src="/img/facebook-logo.png"></a>
                                <a href="#"><img class="red-logo" src="/img/inst-logo.png"></a>
                                <a href="#"><img class="red-logo" src="/img/youtube-logo.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="container-info">
                        <h3>Sobre Innovua</h3>
                        <p>Somos una comunidad universitaria en crecimiento constante.
                            Creamos impacto positivo a traves de la creatividad e innovacion.
                            Rompemos esquemas, creamos oportunidades.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="footer-copyright">
                <h3>Universidad Autonoma - Derechos reservados</h3>
                <h3><a href="#">Politicas de privacidad</a></h3>
            </div>
        </footer>

    </div>

    <script>

        function movingright() {
            var leftPos = $('.staff-container').scrollLeft();
            $(".staff-container").animate({ scrollLeft: leftPos + 400 }, 1000);
        };
        function movingleft() {
            var leftPos = $('.staff-container').scrollLeft();
            $(".staff-container").animate({ scrollLeft: leftPos - 400 }, 1000);
        };

        function alertaregistro() {
            alert("Mensaje enviado");
        }

        $(document).ready(function () {


            jQuery.fn.extend({ 
        disableSelection : function() { 
                return this.each(function() { 
                        this.onselectstart = function() { return false; }; 
                        this.unselectable = "on"; 
                        jQuery(this).css('user-select', 'none'); 
                        jQuery(this).css('-o-user-select', 'none'); 
                        jQuery(this).css('-moz-user-select', 'none'); 
                        jQuery(this).css('-khtml-user-select', 'none'); 
                        jQuery(this).css('-webkit-user-select', 'none'); 
                }); 
            } 
        });

        $('#arrow-left').disableSelection();



            window.onscroll = function () { myFunction() };

            function myFunction() {

                if (document.body.scrollTop > 550 || document.documentElement.scrollTop > 550) {
                    document.getElementById("menu").className = "fixed-bar-dinamic";

                    //document.getElementById("logo").className = "logo-dinamic";
                } else {
                    document.getElementById("menu").className = "fixed-bar";
                    // document.getElementById("logo").className = "logo";
                }
            }
            $("div .button").click(function () {
                var pos = $(this).index();


                switch (pos) {
                    case 0: $("html").animate({ scrollTop: $(".aboutus-section").offset().top }, 1000);
                        break;
                    case 1: $("html").animate({ scrollTop: $(".news-section-title").offset().top }, 1000);
                        break;
                    case 2: $("html").animate({ scrollTop: $(".convocatory-section-title").offset().top }, 1000);
                        break;
                    case 3: $("html").animate({ scrollTop: $(".repository-section").offset().top }, 1000);
                        break;
                }
            });


            $(window).scroll(function () {
                var altura = $("#aboutus").height();
                var windowHeight = $(window).scrollTop();
                var contenido1 = $('#aboutus').offset().top;
                suma = parseInt(contenido1) - parseInt(altura);
                console.log("el espacio de altura es: " + suma);
                if (windowHeight >= suma) {
                    $('#aboutus .left-container').css({ opacity: 0.0 }).animate({ opacity: 1.0, left: '0px' }, 1500);
                    $('#aboutus .right-container').css({ opacity: 0.0 }).animate({ opacity: 1.0, left: '-30px' }, 1000);
                }

                var altura2 = $("#repository").height();
                var contenido2 = $('#repository').offset().top;
                suma2 = parseInt(contenido2) - parseInt(altura2);
                console.log("el espacio de altura 2 es: " + suma2);
                if (windowHeight >= suma2) {
                    $('#repository .left-container').css({ opacity: 0.0 }).animate({ opacity: 1.0, left: '30px' }, 1000);
                    $('#repository .right-container').css({ opacity: 0.0 }).animate({ opacity: 1.0, left: '0px' }, 1500);
                }

            });
            /*PARA EL CARRUSEL*/

            var carousel = $('#carousel'),
                threshold = 150,
                slideWidth = 380,
                dragStart,
                dragEnd;

            $('#next').click(function () { shiftSlide(-1) })
            $('#prev').click(function () { shiftSlide(1) })

            carousel.on('mousedown', function () {
                if (carousel.hasClass('transition')) return;
                dragStart = event.pageX;
                $(this).on('mousemove', function () {
                    dragEnd = event.pageX;
                    $(this).css('transform', 'translateX(' + dragPos() + 'px)')
                })
                $(document).on('mouseup', function () {
                    if (dragPos() > threshold) { return shiftSlide(1) }
                    if (dragPos() < -threshold) { return shiftSlide(-1) }
                    shiftSlide(0);

                })
            });

            function dragPos() {
                return dragEnd - dragStart;
            }

            function shiftSlide(direction) {
                if (carousel.hasClass('transition')) return;
                dragEnd = dragStart;
                $(document).off('mouseup')
                carousel.off('mousemove')
                    .addClass('transition')
                    .css('transform', 'translateX(' + (direction * slideWidth) + 'px)');
                setTimeout(function () {
                    if (direction === 1) {
                        $('.slide:first').before($('.slide:last'));

                    } else if (direction === -1) {
                        $('.slide:last').after($('.slide:first'));
                    }
                    carousel.removeClass('transition')
                    carousel.css('transform', 'translateX(0px)');
                }, 700)
            }

        });

    </script>
</body>

</html>