<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/admin.css">
    <link rel="icon" type="image/png" href="/img/ua-icon.png" />
    <link rel="stylesheet" href="/main.css">

    <title>Noticias</title>
    <style>
        .column {
            display: flex;
        }

        .preview {
            width: 400px;
            height: 500px;
            border: 1px solid #000;
            margin: 0px 20px;
        }

        li {
            margin-bottom: 15px;
            list-style: none;
        }

        .no-input {
            outline: none;
            border: none;
            background-color: transparent;
        }

        div textarea {
            height: 50px;
        }

        .option-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .option {
            width: 284px;
            height: 384px;
            font-family: 'Merriweather', serif;
        }

        .option-info input,
        .option-info textarea {
            color: #fff;
            text-align: center;
            font-family: 'Merriweather', serif;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }

        #file-preview-zone {
            height: 100%;
            display: flex;
            justify-content: center;
        }

        #file-preview-zone img {
            height: 100%;
        }
    </style>

</head>

<body>
    <div id="app">
        <h1> Subir Noticia</h1>
        <div class="column">
            <div class="preview">
                <div style="height: 100%;">
                    <div class="option-container">
                        <div class="option" style="background-image: url('');"> 
                            <div class="preview-image" id="file-preview-zone"></div>  
                            <div class="option-info">
                                <br>
                                <h2><input style="font-size: 18px;" class="no-input" type="text" v-model="nameNew" readonly></h2>
                                <br>                     
                                <h3><textarea class="no-input" cols="40" rows="6" v-model="description" readonly></textarea></h3>
                                <br>  
                                <br>                    
                                <a href="#">ver mas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="register">
                <form method="post" enctype="multipart/form-data">
                    <div>
                        <label for="Imagen">Cargar imagen de vista previa</label> <br> <br>
                        <input type="file" name="imagen" id="file-upload" accept="image/*" v-model="image"
                            required><br><br>
                    </div>

                    <div>
                        <label for="nameT">Título de la noticia</label><br>
                        <input type="text" name="title" id="" v-model="nameNew" required> <br><br>
                    </div>
                    <div>
                        <label for="des">Descripción</label> <br>
                        <textarea name="description" id="" cols="50" rows="10" v-model="description"
                            required></textarea> <br><br>
                    </div>

                    <div>
                        <label for="pdf">Cargar archivo a visualizar </label> <br><br>
                        <input type="file" name="pdf" id="" accept="application/pdf" v-model="pdf" required><br><br>
                    </div>
                    <input class="red-button" type="submit" value="Guardar">
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                image: null,
                nameNew: null,
                description: null,
                pdf: null
            }
        })

        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var filePreview = document.createElement('img');
                    filePreview.id = 'file-preview';
                    //e.target.result contents the base64 data from the image uploaded
                    filePreview.src = e.target.result;
                    console.log(e.target.result);

                    var previewZone = document.getElementById('file-preview-zone');
                    previewZone.appendChild(filePreview);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        var fileUpload = document.getElementById('file-upload');
        fileUpload.onchange = function (e) {
            readFile(e.srcElement);
        }
    </script>
</body>

</html>