<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/admin.css">
    <link rel="icon" type="image/png" href="/img/ua-icon.png" />
    <link rel="stylesheet" href="/main.css">
    
    <title>Registro Convocatoria</title>
    <style>
        .column {
            display: flex;
        }
        .preview {
            width: 400px;
            height: 500px;
            border: 1px solid #000;
            margin: 0px 20px;
        }
        li {
            margin-bottom: 15px;
            list-style: none;
        }
        .no-input {
            outline: none;
            border: none;
            background-color: transparent;
        }
        div textarea{
            height: 50px ;
        }
        .option-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .option{
            width: 284px;
            height: 384px;
            font-family: 'Merriweather', serif;
        }
        .option-info input, .option-info textarea{
            color: #fff;
            text-align: center;
            font-family: 'Merriweather', serif;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
        #file-preview-zone{
            height: 100%;
            display: flex;
            justify-content: center;
        }
        #file-preview-zone img{
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>Crear Convocatoria</h1>
        <div class="column">
            <div class="preview">
                <div style="height: 100%;">
                    <div class="option-container">
                        <div class="option" style="background-image: url('');">
                            <div class="preview-image" id="file-preview-zone"></div>
                            <div class="option-info">
                                <br>
                                <h2><input style="font-size: 18px;" class="no-input" type="text" v-model="title" readonly></h2>
                                <br>
                                <h3>Dia: <input class="no-input" type="text" v-model="date" readonly></h3>
                                <br>
                                <br>
                                <h3><textarea class="no-input" cols="40" rows="6" v-model="description" readonly></textarea></h3>
                                <br>
                                <h3>Cierre de Inscripciones: <input class="no-input" type="text" v-model="end" readonly></h3>
                                <br>
                                <a href="#">ver mas</a>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <ul>
                        <li>
                            <input class="no-input"  v-model="image" readonly>
                            <div class="preview-image" id="file-preview-zone"></div>
                        </li>
                        <li>
                            <span><b>Área Involucrada</b></span><br>
                            <input class="no-input" type="text" v-model="area" readonly>
                        </li>
                        <li>
                            <span><b>Título de la Convocatoria</b></span><br>
                            <input class="no-input" type="text" v-model="title" readonly>
                        </li>
                        <li>
                            <span><b>Lugar</b></span><br>
                            <input class="no-input" type="text" v-model="place" readonly>
                        </li>
                        <li>
                            <span><b>Fecha del Evento</b></span><br>
                            <input class="no-input" type="text" v-model="date" readonly>
                        </li>
                        <li>
                            <span><b>Hora</b></span><br>
                            <input class="no-input" type="text" v-model="time" readonly>
                        </li>
                        <li>
                            <span><b>Inicio de Convocatoria</b></span><br>
                            <input class="no-input" type="text" v-model="start" readonly>
                        </li>
                        <li>
                            <span><b>Cierre de Convocatoria</b></span><br>
                            <input class="no-input" type="text" v-model="end" readonly>
                        </li>
                        <li>
                            <spa n><b>Descripción</b></span><br>
                            <textarea class="no-input" cols="40" rows="6" v-model="description" readonly></textarea>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
            <div class="register">
                <form method="POST" enctype="multipart/form-data" >

                        <div>
                            
                                <label for="Imagen">Cargar imagen de la convocatoria</label> <br> <br>
                                <input type="file" name="imagen" id="file-upload" accept="image/*" v-model="image" required><br><br>
                            </div>
                    <div>
                        <label for="title">Areas Involucradas</label> <br>
                        <!-- <input type="text" name="areaInvo" id="equipo"> <br> -->
                        <select name="area" id="equipo" v-model="area" required>
                            <option value="">- Seleccione un área -</option>
                            <option value="Sistemas">Sistemas</option>
                            <option value="Derecho">Derecho</option>
                            <option value="Contabilidad">Contabilidad</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="title">Título de la Convocatoria</label> <br>
                        <input type="text" name="title" id="telf" v-model="title" required>
                    </div>
        
                    <div>
                        <label for="title">Lugar</label> <br>
                        <input type="text" name="place" id="telf" v-model="place" required>
                    </div>
        
                    <div>
                        <label for="title">Fecha del Evento</label> <br>
                        <input type="date" name="date" id=""  v-model="date" required>
                    </div>
        
                    <div>
                        <label for="title">Hora</label> <br>
                        <input type="time" name="time" id="telf" v-model="time" required>
                    </div>    
                    
                    <div>
                        <label for="title">Incio de Convocatoria</label> <br>
                        <input type="date" name="start" id="" v-model="start" required>
                    </div>
                    <div>
                        <label for="title">Cierre de Convocatoria</label> <br>
                        <input type="date" name="end" id="telf" v-model="end" required>
                    </div>
                
                
                    <div>
                        <label for="title">Descripción</label> <br>
                        <textarea name="description" id="" cols="50" rows="10" v-model="description" required></textarea>
                    </div>
                    <input type="submit" value="Guardar">                        
            
                </form>
            </div>                
        </div>
    </div>    

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                image: null,
                area: null,
                title: null,
                place: null,
                date: null,
                time: null,
                start: null,
                end: null,
                description: null
            }
        })

        function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
 
            reader.onload = function (e) {
                var filePreview = document.createElement('img');
                filePreview.id = 'file-preview';
                //e.target.result contents the base64 data from the image uploaded
                filePreview.src = e.target.result;
                console.log(e.target.result);
 
                var previewZone = document.getElementById('file-preview-zone');
                previewZone.appendChild(filePreview);
            }
 
            reader.readAsDataURL(input.files[0]);
        }
    }
 
    var fileUpload = document.getElementById('file-upload');
    fileUpload.onchange = function (e) {
        readFile(e.srcElement);
    }
    </script>
</body>
</html>