<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de Noticia</title>
</head>

<body>
    <h1>Detalle de Noticia</h1>
    
        <div>
            <h4>Imagen Vista Previa</h4>
            <p> <%= image %></p>
        </div>
        <div>
            <h4>Título de la notica</h4>
            <p> <%= title %></p>
        </div>
        <div>
            <h4>Descripción</h4>
            <p> <%= description %> </p>
        </div>
        <div>
            <h4>Archivo</h4>
            <p> <%= pdf %></p>
        </div>
        
</body>

</html>