<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle Convocatoria</title>
</head>
<body>
    <h1>Detalle Convocatoria </h1>

        <h4>Guardado con Exito</h4>


</body>
</html>