<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio de Administrador</title>
</head>

<body>
    <h1>
        Ingrese credenciales
    </h1>

    <form method="POST">
        <div>
            <label for="usu">Usuario</label>
            <input type="text" name="username" id=""> <br><br>
        </div>
        <div>
            <label for="pass">Contraseña</label>
            <input type="password" name="password" id=""><br><br>
        </div>
        <div>
            <input type="submit" value="Continuar">
        </div>
        <div>
            <%
                if(message) {
            %>
                    <span color="red"><%= message %></span>
            <%
                }
            %>
        </div>
    </form>

</body>

</html>