<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido</title>
</head>
<body>
    <h1>Bienvenido al sistema <%= user.name %> </h1>
    <ul style="color:white; float: left;" class="nav navbar-nav">
            <li><a href="/crear/noticia">Añadir Noticia</a> </li>
            <li><a href="/crear/convocatoria">Añadir Convocatoria</a></li>
    </ul>
    </div>

    <div>
    <h3> welcome <%= user.name %> </h3>
    <h3> {{user.getId()}} </h3>
    </div>

</body>

</html>