<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Usuarios</title>
</head>
<body>    
    <h1>Crear Usuarios</h1>
    <h2>
        Ingrese credenciales
    </h2>

    <form method="POST">
        <div>
            <label for="usu">Nombre</label>
            <input type="text" name="name" id=""><br><br>
        </div>
        <div>
            <label for="usu">Usuario</label>
            <input type="text" name="username" id=""><br><br>
        </div>
        <div>
            <label for="pass">Contraseña</label>
            <input type="password" name="password" id=""><br><br>
        </div>
        <div>
            <input type="submit" value="Continuar">
        </div>
    </form>
</body>
</html>