@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400');
body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
h1{
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    background: orange;
}

.column {
    display: flex;
    justify-content: center;
    
}
.register{
    background:  rgb(185, 185, 185);
    border: 1px solid #000;
}

.preview {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    margin: 0px 20px;
    background:  rgb(185, 185, 185);
}
.preview-image img{
    height: 100px;
}
li {
    margin-bottom: 15px;
}

.no-input {
    outline: none;
    border: none;
}

input .red-button{
    background: #FF5252;
}

