/** Reset */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
html, body{
    margin: 0;
    width: 100%;
    height: 100%;

    

}
a{
    text-decoration: none;
}

/** Styles */
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
   
}

/* For Fixed bar Menu*/
.fixed-bar{
    
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
    transition: all 0.7s;
    color: white;

}
.fixed-bar-dinamic{
    
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
    background: rgb(255, 255, 255);
    transition: all 0.7s;
    box-shadow: 0.5px 0.5px 5px rgb(107, 107, 107);  

}

.fixed-bar .logo,.fixed-bar-dinamic .logo{

    background-image: url(/img/logo-autonoma.png);
    width: 315px;
    height: 70px;
    transition: all 1s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left:-70px;
}
.fixed-bar-dinamic .logo{
    height: 50px;
}
.fixed-bar .logo:hover,.fixed-bar-dinamic .logo:hover{

    opacity: 0.6;
    

    
}

.fixed-bar .menu-buttons,.fixed-bar-dinamic .menu-buttons{
    display: flex;
    align-items: center;      
}
@media (max-width: 900px) {
    .fixed-bar, .fixed-bar-dinamic {   
      flex-direction: column;
      height: 110px;
    }


}
.menu-buttons .button{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;

    transition: all 0.1s;
}
.menu-buttons .button:hover{
    color: rgb(185, 185, 185);
    transform: scale(1.1);

}

.main-container{
    width: 100%;
    height: 100%;   
}
.main-container .content-video{
    width: 100%;
    height: 93%;
    position: relative;
    overflow: scroll;
    overflow: hidden;

}
.main-container .landing-section{
    width: 100%;
    background-position: center;
    margin: 0 auto;
}
@media screen and (max-width: 1050px) {
    .main-container .landing-section{
        height: 100%;
        width: auto;
        /* margin-left: -10%; */
    }
}
.content-landing{
    position: absolute;
    z-index: 18;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    color: white;
    padding-left: 100px;
    padding-top: 50px;
}
.content-landing h1,h3{
    position: relative;
    max-width: 600px;
    color: white;

}
.content-landing h1 {
    font-weight: bold;
    font-size: 48px;
}
.content-landing h3 {
    font-style: normal;
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
    line-height: 150.84%;



}
h1,h2,h3{
    margin: 0;
}

.aboutus-section{

    width: 100%;
    position: relative;
    padding-top: 80px;   
}

.aboutus-section .container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.aboutus-section .container .left-container{
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background: #F5F5F5;
    position: relative;
    z-index: 10;
    left: 30px;
    position: relative;
    left: -1500px; 
}

.aboutus-section .container .right-container{
    background: url(img/img-section.png);
    background-size: cover;
    width: 600px;
    height: 520px;
    position: relative;
    left: 1500px; 
}
.aboutus-section .container .left-container h2,.aboutus-section .container .left-container h3{
    padding: 0 60px;
    color: #000 ;
}
.aboutus-section .container .left-container h2{ 
    margin: 8px 0;
    font-size: 30px;
    font-weight: 700;
}
.aboutus-section .container .left-container h3{ 
    margin: 8px 0;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;   
}

.news-section-title{

    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.news-section-title hr{
    width: 40px;
    height: 3px;
    background: #FF801C;
    border: none;
    margin: 0 15px;
}
.convocatory-section-title{

    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.convocatory-section-title hr{
    width: 40px;
    height: 3px;
    background: #FF801C;
    border: none;
    margin: 0 15px;
}
.main-container .section-title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
.news-section .option-container{
    display: flex;
    justify-content: center;
    margin: 10px 0px;

    flex-wrap: wrap;
    margin-bottom: 0;

}
.option-container .option{
    position: relative;
    width: 280px;
    height: 360px;
    margin: 5px 10px;
    background: url(img/option1.png);
    overflow: scroll;
    overflow: hidden;
    border: 0.2px solid black;
}
.option .option-info{
    position: absolute;
    width: 100%;
    height: 30%;
    background: rgba(56, 47, 45, 0.308);
    color: white;
    bottom: 0;
    text-align: center;
    transition: all 0.5s ease-out;
 
}

.option .option-info h2{
    font-weight: normal;
    line-height: 15px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

}
.option .option-info h3{
    font-size: 13px;
    font-weight: 300;
    width: 250px;
    text-align: justify;
    line-height: 17px;
    margin: 0 auto;
}
.option .option-info .title h3 {
    text-align: center;
    position: absolute;
    top: 55px;
}
.option .option-info .content  {
    position: absolute;
    top: 105px;
    left: 15px;
}
.option .option-info .content h3 {
    text-align: center;
}
.option a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    left: 40%;
    margin: 10px 0;
}
.option .option-info:hover{
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

}


.convocatory-section{
    width: 100%;
    
}
.convocatory-section .section-title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.convocatory-section .option-container{
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    flex-wrap: wrap;

}

/*PARA EL REPOSITORIO*/
.repository-section{
    position: relative;
    width: 100%;
    padding-top: 80px;
}
.repository-section .container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.repository-section .container .right-container{
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background: #F5F5F5;

    z-index: 10;
    right: 30px;
    position: relative;
    left: 1500px;  
}
.repository-section .container .right-container h3{
    color: #000 ;
    font-size: 20px;
    line-height: 150.84%;
}
.repository-section .container .left-container{
    background: url(img/open-book.jpg);
    background-size: cover;
    width: 600px;
    height: 520px;
    position: relative;
    left: -1500px; 
}
.repository-section .container .right-container h2,.repository-section .container .right-container h3{
    padding: 0 60px;
}
.repository-section .container .right-container h2{ 

    font-size: 30px;
    margin: 8px 0;
}
.repository-section .container .right-container h3{ 
    margin: 4px 0;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;   
}
.repository-section .container .right-container .submit-container{
    margin: 8px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.repository-section .container .right-container .submit-container input{
    width: 160px;
    height: 40px;
    background: #FF5252;
    border-radius: 2px;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFF;
    cursor: pointer;
}


footer{
    width: 100%;
    margin-top: 100px;
    color: #382F2D;
    /* background: rgb(228, 228, 228); */
}
footer .center-footer {
    max-width: 1440px;
    margin: 0 auto;
}
.footer-container{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
}
.footer-section{
    display: flex;
    justify-content: space-between;
}
#container-info{
    flex-wrap: wrap;
    font-size: 14px;
    padding: 0px;
    text-align: justify;
    justify-content: center; 
    max-width: inherit;
}
#container-info h1{
    padding-top: 20px;
}
.container-info{
    flex-wrap: wrap;
    font-size: 14px;
    padding: 20px;
    /* text-align: justify; */
    justify-content: center;   
    /* flex-grow: 1; */
    max-width: 265px;
}
.lateral{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 20px 50px;
}
@media screen and (max-width: 1220px) {    
    .lateral{
        padding: 20px 20px;
    }
}
.lateral p {
    line-height: 8px;
}
.container-info .container{
    width: 250px;
    height: 150px;
    margin: 0px 10px;
    padding: 0px 10px;
    margin: 5px auto;
    
    
}
.container-info .left{
    border-left: 1px solid rgba(0, 0, 0, 0.596);
    width: 150px;
    
}
.container-info .middle{
    border-left: 1px solid rgba(0, 0, 0, 0.596);
    width: 150px;
    
}
.container-info .right{
    border-left: 1px solid  rgba(0, 0, 0, 0.596);
    width: 350px;
    
} 
.container-info .suscription{
    border-left: 1px solid  rgba(0, 0, 0, 0.596);
    width: 150px;
    
}
@media (max-width:1014px){
    .container-info .right{
        display: none; 
    }

}
@media (max-width:1312px){
    .footer-container{
        justify-content: center;
    }
}
.container-info h3{
    color: #FF801C;
    padding: 0;
}
.social-media{
    display: flex;
}
.social-media .red-logo{
    padding: 10px 10px;
    height: 20px;
    cursor: pointer;
}
.social-media .red-logo:hover{

    opacity: 0.5;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    max-width: 1440px;
    margin: 0 auto;
}
.footer-copyright h3{
    color: #000 ; 
    margin: 0;
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
    padding: 0px 10px;
}
.options-menu{
    font-size: 30px;
    display: none;
    transition: all 0.2s;
    cursor: pointer;
}
.options-menu:hover{
    opacity: 0.5;
}

@media (max-width:480px){
    .aboutus-section,.news-section  ,.convocatory-section,.repository-section{
        
        height:auto;
    }
    .fixed-bar, .fixed-bar-dinamic {   
        flex-direction: row;
        height: 110px;
      }

    .landing-section{
        width: 100%;
        height: 50%;
    }
    .landing-section h1,h3{
        font-size: 15px;
        margin: 10px !important;
    }

    .footer-container .container-logo{
        display: none;
        
    }
    .aboutus-section .left-container{
        display: none;
        left: 0px !important;
    }
    .aboutus-section .right-container{
        display: none;
    }
    .repository-section .left-container{
        display: none;
    }
    .repository-section .right-container{
        display: none;
        left: 0px !important;
    }
    .fixed-bar .menu-buttons,.fixed-bar-dinamic .menu-buttons{
        display: none;
    }
    .options-menu{
        
        display: inline;
    }
}

.contact-section{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    right: 70px;
}
.contact-left-container,.contact-right-container{
    
    width:680px;
    height: 650px;
    
}
.contact-left-container{
    position: relative;
    left: 180px;
    text-align: right;
    width:600px;
    
}

.contact-left-container .text-left{
    text-align: left;
    margin-top: 100px;
    font-size: 16px;
}
.text-left h3{
    color: #000;
    line-height: 30px;
    padding-left: 30px;
}
.text-left h4{
    font-weight: 100;
    padding-left: 30px;
}
.contact-left-container h1{
    margin-top: 100px;
    padding-left: 150px;
    font-size: 56px;
    font-weight: normal;
    
}

.contact-right-container{
    background: #FEFFD8;
}
.contact-right-container .text-right{
    padding-left: 250px;
}
.contact-right-container .text-right h1{
    margin: 5px;
    
}

.text-right{
    margin-top: 100px;
}
.text-right .input-contact{
    border: 1px solid black;
    width: calc(360px - 20px);
    height: 40px;
    background: #FEFFD8;
    margin-bottom: 8px;
    padding: 0px 10px;
}

.text-right .career{
    width: 220px;
    height: 40px;
    background: #FEFFD8;
    color: gray;
    border: 1px solid black;
    padding: 0px 10px;
    
}
.text-right .cycle{
    width: calc(100px - 20px);
    height: 40px;
    background: #FEFFD8;
    border: 1px solid black;
    padding: 0px 10px;
    
}
.text-right h4{
    margin: 0;
}
.text-right form {
    width: 360px;
 
}
.text-right form div{
    display: flex;
 
}
.text-right form .submit-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}
.text-right form div select,
.text-right form div input{
    display: block;
}
.text-right form div div{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.text-right form  textarea{
    width: calc(100% - 20px);
    height: 164px;
    background: #FEFFD8;
    border: 1px solid black;
    padding: 10px;
}
.text-right .submit-container{
    cursor: pointer;
}
.text-right .input-submit{
    width: 160px;
    height: 40px;
    background: #FF5252;
    border-radius: 2px;
    border: 0;
    margin: auto ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFF;
    cursor: pointer;
}
/*para la seccion de staff*/
.staff-section{
    width: 100%;
    padding-top: 80px;
}
.staff-section .investiga-bg{
    background: url(img/INVESTIGA.png);
    width: 100%;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: center;
}
.staff-section .investiga-bg h1{
    margin: 0 100px;
    position: relative;
    top: -20px;
}
.staff-section .staff-container{
    height: 300px;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    overflow: scroll;
    overflow: hidden;
    position: relative;


}
#moving-right{
    cursor: pointer;
}
#moving-left{
    cursor: pointer;
}

 .staff-info-container{
    width: 350px;
    height: 300px;
    background: #fff;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    box-shadow: 3px 6px 6px rgb(209, 209, 209);
    position: relative;

    

}

 .staff-info-container .staff-info-title{
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #fff;
    justify-content: space-around;
    padding-top: 10px;
}

 .staff-info-container .staff-info-title div{
    margin: 30px 0px;
    position: relative;
    left: -20px;
}

 .staff-info-container .staff-info-title h4 {
    font-weight: normal;
    margin: 0;
}

 .staff-info-container .staff-info-title h5 {
    font-weight: 300;
    margin: 0;
    color: #9F9F9F;
}

 .staff-info-container .staff-info-title .img-staff{
    width: 80px;
    height: 80px;
    background-image: url(/img/Ellipse.png);
    background-size: cover;
    
}

.staff-info-container .staff-info-text{
    text-align: justify;
    padding: 0px 30px;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    color: #9F9F9F;


}
.staff-info-container .staff-info-text h4{
    font-weight: 400;  
}



/* CARRUSEL*/

.wrap {
    position: relative;
    width: 100%;
    height: 310px;
  }
  
  .window {
    overflow: hidden;
    position: relative;
    background: rgb(255, 255, 255);
  }
  
  #carousel {
    width: 8000px;
    position: relative;
    top: 0; left: -650px;
  }
  
  .slide {
    height: 310px;
    width: 380px;

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #prev, #next {
    cursor: pointer;
    position: absolute;
    font-size: 14pt;
    height:30%;
    width: 95px;
    z-index: 18;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.1s;
  }
  #prev:hover, #next:hover{
      transform: scaleY(3.2);
      background: rgba(0, 0, 0, 0.4);
  }
  .hover {
    transform: scale(3.2);
}  
  
  #prev { left: 0;top: 35%;width: 85px; }
  #next { right: 0;top: 35%; }
  
  .transition {
    transition: 0.7s;
  }

.fas{
    position: absolute;  
    top: 130px;
    z-index: 19;

   
}
  .fa-chevron-right{
      color: rgb(255, 255, 255);
      font-size: 50px;
      transition: all 0.2s;
      right: 25px;
      user-select: none;
  }
  .fa-chevron-left{
    color: rgb(255, 255, 255);
    font-size: 50px;
    transition: all 0.2s;
    left: 25px;
    user-select: none;
}

.fa-chevron-left:hover, .fa-chevron-right:hover{
    transform: scale(1.2);
}

#arrow-left{
    user-select: none; 
}