@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400');

article .container{
    
    width: 75%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 140px;
 
}
.container .img-convocatory{
    position: relative;
    background-image: url("img/desktop-img.jpg");
    width: 100%;
    height: 274px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.img-convocatory .convocatory-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.644);
    width: 100%;
    height: 50px;
    color: white;   
}

.convocatory-title h1{
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px;
}
.container .container-info{
    padding-top: 25px;
    width: 100%;
    height: 280px;
}
.container-info .box-info{
    padding-top: 20px;
    width: 100%;
    display: flex;
}
.box-info .event-info{
    width:550px;
    font-size: 15px;
}
.box-info .event-info h3{
    font-size: 15px;
    color: #000;
    font-weight: 300;
}
.box-info .date-info{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}
.date-info .date{
    width: 300px;
}
.date h3{
    font-size: 15px;
    color: #000;
    font-weight: 300;
}
.post-it{
    position: absolute;
    right: 20px;
    bottom: -40px;
    width: 195px;
    height: 135px;
    background: rgb(255, 255, 255);
    z-index: 10;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    
}
.post-it h3{
    color: #000;
}
.post-it h4{
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 300;
}

.button-div{
    width: 160px;
    height: 45px;
    background: #FF5252;
    border: none;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 61px;
    text-align: center;
    cursor: pointer;
}
.button-div span{
    font-size: 16px;
    color: #fff;
    display: block;
    padding-top: 10px;
}

/* POPPUP CONVOCATORIA */

.poppup-convocatory{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000bf;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poppup-convocatory .form{
    width: 550px;
    height: 640px;
    background-color: #fff;
    overflow: hidden;
}
.poppup-convocatory .blur{
    height: 100%;
    width: 100%;
    margin-top: -34px;
    padding-top: 34px;
    background-image: url('/img/idea.png');
    background-repeat: no-repeat;
    background-position-x: 360px;
    background-position-y: 470px;
}
.poppup-convocatory .form .form-center{
    width: 464px;
    margin: 0 auto;
    margin-top: 34px;
}
.poppup-convocatory .form .form-center .inputs input, 
.poppup-convocatory .form .form-center .inputs select{
    display: block;
    padding: 0px 10px;
    width: calc(100% - 20px);
    font-size: 16px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 18px;
}
.poppup-convocatory .form .form-center .inputs select{
    width: 100%;
}
.poppup-convocatory .form .form-center .inputs input::placeholder, 
.poppup-convocatory .form .form-center .inputs select::placeholder,
.placeholder span{
    color: #D5D5D5;
}
/* .poppup-convocatory .form .form-center .inputs select::before {
    color: #D5D5D5;
} */
.button-poppup{
    display: flex;
    justify-content: center;
}
.button-poppup .button-div{
    color: #fff;
    margin-top: 24px;
    font-size: 16px;
}
.poppup-convocatory .form .form-center span,
.poppup-convocatory .form .form-center h3{
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 24px;
    color: #000;
}
.poppup-convocatory .form .form-center h3{
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
}
.poppup-convocatory .form .form-center h4{
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.poppup-convocatory .form .form-center h5{
    font-weight: normal;
}
.poppup-convocatory .form .form-center .submit{
    background: none;
    text-align: center;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    margin-top: 40px;
}